@import "./variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0 92px;

  &__logo {
    a {
      width: 149px;
      height: 36px;
    }
  }

  &__menu {
    display: flex;
    gap: 40px;
    line-height: 1.18;
  }

  &__autorization {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      font-weight: 500;
      line-height: 1.18;
      color: $main-dark;

      &:nth-child(2) {
        border: 1px solid $active;
        border-radius: 50px;
        padding: 13px 45px;
        color: $active;
        &:hover {
          border-color: $button-color;
          background-color: $button-color;
          box-shadow: 10px 20px 54px 0px rgba(245, 56, 56, 0.35);
          -webkit-box-shadow: 10px 20px 54px 0px rgba(245, 56, 56, 0.35);
          -moz-box-shadow: 10px 20px 54px 0px rgba(245, 56, 56, 0.35);
          color: $main-white;
        }
      }
    }
  }
}
